dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.log
*.graph
*.png
data/
.gradle/
build/distributions/
.idea/
tags
.python-version
.DS_Store
HooglePlus.cabal
webapp/static/tmp/*
logs/
stack.yaml.lock