@import "variables";

.App {
  text-align: center;
  padding-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.candidate-code {
  margin: 0
}

.tooltip-inner {
  max-width: 500px;
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 400;
  position: relative;
  padding: 10px;

  &:after {
    font-family: 'FontAwesome';
    content: '\f107';
    position: absolute;
    right: 50px;
    top: 30px;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }
}

// HighlightJS in a table adds too much space
pre {
  margin: 0
}

.doc-line {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

.table thead th {
  vertical-align: middle !important;
}

button:hover {
  cursor: pointer;
}

.no-cursor {
  cursor: default !important;
}